@import url("https://fonts.googleapis.com/css?family=Lobster");
body {
  background-color: #ffffff;
  font-family: 'Roboto';
}

#carousel {
  position: absolute;
  height: 200px;
  width: 810px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

div.intro {
  border-radius: 25px;
  height: 180px;
  width: 500px;
  background-color: #ffffff;
  margin: auto;
  left: 35%;
  text-align: center;
  color: black;
  font-size: 200%;
}

div.headerIntro {
  text-align: center;
  color: #03dac5;
  font-size: 230%;
}

div.header {
  text-align: center;
  color: #03dac5;
  font-size: 210%;
}

div.choice {
  text-align: center;
  color: black;
  font-size: 130%;
}

div.nextIntro {
  text-align: center;
  display: block;
}

div.next {
  text-align: center;
  display: block;
  margin-top: 23%;
  margin-left: .6%;
}

div.next2 {
  margin-top: 12%;
  float: right;
  display: block;
}

div.next3 {
  margin-top: 24.5%;
  float: right;
  display: block;
}

div.next4 {
  margin-top: 5%;
  float: right;
  display: block;
}

div.previous {
  margin-top: 11.5%;
  float: left;
  display: block;
}

div.previous2 {
  margin-top: 24%;
  float: left;
  display: block;
}

div.previous3 {
  margin-top: 3.85%;
  float: left;
  display: block;
}

div.textbox {
  text-align: center;
  font-size: 100%;
}

div.text {
  text-align: left;
}

div.CShopping {
  margin-top: -5%;
  text-align: center;
}

a {
  text-decoration: none;
  display: inline-block;
  color: black;
  padding: 8px 15px;
  background-color: #C0C0C0;
  border: 3px solid #000;
}

li:focus {
  background: rgb(232, 235, 232);
}

form {
  display: inline-block;
  margin-top: 5%;
  font-size: 130%;
  text-align: left;
}

nav ul {
  height: 350px;
  width: 95%;
}

nav ul {
  overflow: hidden;
  overflow-y: scroll;
}

a:hover {
  color: #03Dac5;
}

.arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: black;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  color: white;
  line-height: 30px;
  margin-top: 85px;
  z-index: 1000;
}

.arrow-right {
  left: 105%;
}

.arrow-left {
  right: 103%;
}

.item {
  text-align: center;
  color: white;
  position: absolute;
  transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s, background-color 1s;
}

.level-2 {
  height: 130px;
  width: 130px;
  line-height: 120px;
  border-radius: 50%;
  background-color: #009688;
  color: black;
  font-size: 80%;
  left: 690px;
  margin-top: 25px;
}

.level-1 {
  height: 160px;
  width: 160px;
  line-height: 150px;
  background-color: #009688;
  color: black;
  font-size: 100%;
  border-radius: 50%;
  left: 520px;
  margin-top: 10px;
}

.level0 {
  height: 200px;
  width: 200px;
  line-height: 190px;
  background-color: #03dac5;
  color: black;
  font-size: 210%;
  border-radius: 50%;
  left: 310px;
}

.level1 {
  height: 160px;
  width: 160px;
  line-height: 150px;
  background-color: #009688;
  color: black;
  font-size: 100%;
  border-radius: 50%;
  margin-top: 10px;
  left: 140px;
}

.level2 {
  height: 130px;
  width: 130px;
  line-height: 130px;
  border-radius: 50%;
  background-color: #009688;
  color: black;
  font-size: 80%;
  margin-top: 25px;
  left: 2px;
}

.left-enter {
  opacity: 0;
  left: -60px;
  height: 120px;
  width: 90px;
  line-height: 120px;
  margin-top: 40px;
}

.left-enter.left-enter-active {
  opacity: 1;
  left: 50px;
  height: 150px;
  width: 110px;
  line-height: 150px;
  margin-top: 25px;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.left-leave {
  opacity: 1;
  left: 650px;
  height: 150px;
  width: 110px;
  line-height: 150px;
  margin-top: 25px;
}

.left-leave.left-leave-active {
  left: 780px;
  opacity: 0;
  height: 120px;
  line-height: 120px;
  margin-top: 40px;
  width: 90px;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-enter {
  opacity: 0;
  left: 760px;
  height: 120px;
  width: 90px;
  line-height: 120px;
  margin-top: 40px;
}

.right-enter.right-enter-active {
  left: 650px;
  opacity: 1;
  height: 150px;
  margin-top: 25px;
  line-height: 150px;
  width: 110px;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-leave {
  left: 50px;
  height: 150px;
  opacity: 1;
  margin-top: 25px;
  line-height: 150px;
  width: 110px;
}

.right-leave.right-leave-active {
  left: -60px;
  opacity: 0;
  height: 120px;
  width: 90px;
  line-height: 120px;
  margin-top: 40px;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}